<template>
  <div style="margin:20px 80px; text-align:left;">
    <vue-markdown :source="source"></vue-markdown>
  </div>
</template>


<script>
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown,
  },
  props: {
    msg: String,
    source: String,

  },
  data() {
    return {

    }
  }
}
</script>


<style scoped>

</style>
