<template>
  <div class="wrapper">
    <h2>カテゴリ別</h2>

    <!-- <Tree :data="data" :props="defaultProps" @node-click="handleNodeClick"></Tree> -->

    <Tree class="tree" :data="data" :props="defaultProps" @node-click="handleNodeClick"></Tree>

    <p v-for="md in mdList" >
      <router-link :to="{ path: 'md_view', query: md }" > {{ md.filename }} </router-link>
    </p>


  </div>
</template>

<script>
import MarkdownView from '../components/MarkdownView.vue'
import axios from 'axios';

import { Tree } from 'element-ui'

export default {
  components: {
    MarkdownView,
    Tree,
  },

  data() {
    return {
      error: {},
      mdList: [],
      source: '',
      data: [{
        label: 'Level one 1',
        children: [{
          label: 'Level two 1-1',
          children: [{
            label: 'Level three 1-1-1'
          }]
        }]
      }, {
        label: 'Level one 2',
        children: [{
          label: 'Level two 2-1',
          children: [{
            label: 'Level three 2-1-1'
          }]
        }, {
          label: 'Level two 2-2',
          children: [{
            label: 'Level three 2-2-1'
          }]
        }]
      }, {
        label: 'Level one 3',
        children: [{
          label: 'Level two 3-1',
          children: [{
            label: 'Level three 3-1-1'
          }]
        }, {
          label: 'Level two 3-2',
          children: [{
            label: 'Level three 3-2-1'
          }]
        }]
      }],
      defaultProps: {
        children: 'children',
        label: 'label'
      }

    };
  },

  created() {
    this.getMarkdownList();
  },

  methods: {

    handleNodeClick(data) {
        console.log(data);
    },

    getMarkdownList() {
      axios.get('/api/list').then((response) => {
        this.mdList = response.data.list;
      }, (response) => {
        this.error = response.data;
      });
    },

  },

}
</script>


<style>

.tree  div > div > span {

  /* font-size: 16px !important; */
  /* line-height: 2; */
}
.tree  div > div {
  /* min-height: 40px; */
}

.tree {
  /* text-align: center; */
  margin: 20px 100px;
  padding: 40px;
  font-size: 16px !important;
  border: 1px solid #eee;
}

.wrapper {
  margin: 20px 140px;
  /* border: 1px solid #ddd; */
  /* padding: 50px; */
}
</style>