<template>
  <div class="about">

    <h2>エディタ</h2>
    <MarkdownView class="md" :source="md.content"/>

  </div>
</template>


<script>
import MarkdownView from '../components/MarkdownView.vue'
import axios from 'axios';

export default {

  components: {
    MarkdownView,
  },
  props: {
    item: Object,
  },

  data() {
    return {
      error: {},
      mdList: [],
      source: '',
      md: {},
    };
  },

  created() {
    // console.log('item is ', this.item)
    console.log(this.$route)
    this.getMd();
  },

  methods: {
    getMd() {
      let getParams = {
        params: {
          path: this.$route.query.path
        }
      }
      axios.get(`/api/get_md`, getParams).then((response) => {
        this.md = response.data;
      }, (response) => {
        this.error = response.data;
      });
    }

  },

}
</script>

<style >

pre {
  padding: 16px;
  overflow: auto;
  font-size: 95%;
  line-height: 1.45;
  background-color: #f6f8fa !important;
  border-radius: 3px;

  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.wrapper {
  margin: 20px 40px;
  /* padding: 50px; */
}

.path {
  /* font-weight: bold; */
  /* font-size: 12px; */
  padding: 8px 92px;
  text-align: left;
}

.md {
  margin: 0px 80px !important;
  padding: 20px 50px;
  border: 1px solid #eee;
}

</style>
