<template>
  <div class="home">
    <h2>一覧</h2>
    <p v-for="md in mdList" >
      <router-link :to="{ path: 'md_view', query: md }" > {{ md.filename }} </router-link>
    </p>
    <!-- <MarkdownView :source="source"/> -->
  </div>
</template>

<script>
import MarkdownView from '../components/MarkdownView.vue'
import axios from 'axios';

export default {
  name: 'home',
  components: {
    MarkdownView,
  },

  data() {
    return {
      error: {},
      mdList: [],
      source: '',
    };
  },

  created() {
    this.getMarkdownList();
  },

  methods: {

    getMarkdownList() {
      axios.get('/api/list').then((response) => {
        this.mdList = response.data.list;
      }, (response) => {
        this.error = response.data;
      });
    },

  },

}
</script>
